.banner{
    height: 550px; 
    width: 1171px;
  
  background-image: url("../images/banner.png");
}
.offer1{
  background-image: url("../images/holud.png");
}

.select-set{
  padding-left: 50px;
  text-align: left;
}

